---
layout: default
title: Bunker
category: bunker
---

I really, really, really, really hate doing this. I think this is the worst way to go about solving problems,
but seeing how the circumstances are going (silencing, stubbornness, bias, etc.), this is the only way I can go 
about solving problems.
<br>
If you have no idea what "Bus Bunker" is, please turn away; this was not aimed at you.
<i>Although if you want to see my main cause of stress/anxiety, or
have seen my toots talking about a certain "friend group" or "place I used to own", then
I suppose this is where you might learn more about the whole drama surrounding all this, or at least, from my perspective.</i>
<br><br>
This is just a Discord drama mess, that no one called upon, no one wanted, but unfortunately the only way out is through.
Really sorry for the community.

<h1>documents</h1>
{% for post in site.posts %}
<div class="post-links">
  {% if post.categories contains 'bunker' %}
    <div class="post-link-wrapper">
        <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
        <div class="post-description">{{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | relative_url }}">(click title or here to see full document)</a></div>
    </div>
  {% endif %}
{% endfor %}
</div>
